<a href="https://colab.research.google.com/github/Tioz96/deep-learning-challenge/blob/main/deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [68]:
# Drop the non-beneficial ID columns 'EIN' and 'NAME'
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

In [69]:
# Determine the number of unique values in each column
unique_value_counts = application_df.nunique()

print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [70]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [71]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 500  # Replace application types with counts less than this value
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in the dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [72]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [73]:
# Look at CLASSIFICATION value counts > 1
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]

print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [74]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 100  # Replace classifications with counts less than this value
classifications_to_replace = classification_counts_greater_than_1[classification_counts_greater_than_1 < cutoff_value].index.tolist()

# Replace in the dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      643
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1900        1
C2600        1
C1248        1
C6100        1
C1820        1
C1580        1
C2570        1
C1732        1
C3700        1
C2500        1
C1570        1
C1283        1
C2380        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [76]:
# Convert categorical data to numeric with pd.get_dummies
application_df_encoded = pd.get_dummies(application_df)

# Display the encoded DataFrame
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [77]:
# Split our preprocessed data into features and target arrays
X = application_df_encoded.drop('IS_SUCCESSFUL', axis=1)  # Features (excluding target column)
y = application_df_encoded['IS_SUCCESSFUL']  # Target variable (IS_SUCCESSFUL)

# Split the data into a training and testing dataset
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print the shapes of the resulting datasets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (27439, 75)
X_test shape: (6860, 75)
y_train shape: (27439,)
y_test shape: (6860,)

In [81]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the model - deep neural net
nn = Sequential()

# Add the first hidden layer
nn.add(Dense(units=80, input_dim=X_train.shape[1], activation='relu'))

# Add the second hidden layer
nn.add(Dense(units=30, activation='relu'))

# Add the output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 80)                6080

 dense_19 (Dense)            (None, 30)                2430

 dense_20 (Dense)            (None, 1)                 31

=================================================================
Total params: 8,541
Trainable params: 8,541
Non-trainable params: 0
_________________________________________________________________

In [82]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [83]:
# Train the model
history = nn.fit(X_train, y_train, epochs=100, verbose=1, validation_data=(X_test, y_test))

Epoch 1/100
858/858 [==============================] - 3s 2ms/step - loss: 24101.7227 - accuracy: 0.4905 - val_loss: 15810.9326 - val_accuracy: 0.4659
Epoch 2/100
858/858 [==============================] - 2s 2ms/step - loss: 17204.9512 - accuracy: 0.5032 - val_loss: 8601.3115 - val_accuracy: 0.4659
Epoch 3/100
858/858 [==============================] - 2s 2ms/step - loss: 66543.6016 - accuracy: 0.5068 - val_loss: 29695.6895 - val_accuracy: 0.4659
Epoch 4/100
858/858 [==============================] - 2s 2ms/step - loss: 44602.9375 - accuracy: 0.4931 - val_loss: 17140.8105 - val_accuracy: 0.5341
Epoch 5/100
858/858 [==============================] - 3s 3ms/step - loss: 15152.6992 - accuracy: 0.4925 - val_loss: 35219.1328 - val_accuracy: 0.5341
Epoch 6/100
858/858 [==============================] - 2s 2ms/step - loss: 9253.1299 - accuracy: 0.5073 - val_loss: 5437.4253 - val_accuracy: 0.4659
Epoch 7/100
858/858 [==============================] - 2s 2ms/step - loss: 37715.8594 - accuracy: 0.5096 - val_loss: 8116.3877 - val_accuracy: 0.4659
Epoch 8/100
858/858 [==============================] - 2s 2ms/step - loss: 35117.0508 - accuracy: 0.5054 - val_loss: 30053.7520 - val_accuracy: 0.4659
Epoch 9/100
858/858 [==============================] - 2s 2ms/step - loss: 8194.9922 - accuracy: 0.5041 - val_loss: 28689.5586 - val_accuracy: 0.5341
Epoch 10/100
858/858 [==============================] - 2s 2ms/step - loss: 20395.6270 - accuracy: 0.5057 - val_loss: 15295.1777 - val_accuracy: 0.4659
Epoch 11/100
858/858 [==============================] - 2s 3ms/step - loss: 14684.4473 - accuracy: 0.4976 - val_loss: 1629.5706 - val_accuracy: 0.5341
Epoch 12/100
858/858 [==============================] - 2s 3ms/step - loss: 7652.5493 - accuracy: 0.5103 - val_loss: 135.6075 - val_accuracy: 0.5175
Epoch 13/100
858/858 [==============================] - 2s 2ms/step - loss: 4728.5986 - accuracy: 0.5095 - val_loss: 289.3056 - val_accuracy: 0.5063
Epoch 14/100
858/858 [==============================] - 2s 2ms/step - loss: 1843.4838 - accuracy: 0.5143 - val_loss: 793.0263 - val_accuracy: 0.4659
Epoch 15/100
858/858 [==============================] - 2s 2ms/step - loss: 484.3571 - accuracy: 0.5169 - val_loss: 45.8076 - val_accuracy: 0.5341
Epoch 16/100
858/858 [==============================] - 2s 2ms/step - loss: 192.1082 - accuracy: 0.5187 - val_loss: 0.7539 - val_accuracy: 0.5341
Epoch 17/100
858/858 [==============================] - 2s 3ms/step - loss: 0.7041 - accuracy: 0.5320 - val_loss: 0.6912 - val_accuracy: 0.5341
Epoch 18/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 19/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 21/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 22/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 23/100
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6910 - val_accuracy: 0.5341
Epoch 24/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 25/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 26/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 27/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 28/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 29/100
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 30/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 31/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 32/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5320 - val_loss: 0.6911 - val_accuracy: 0.5341
Epoch 33/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 34/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 35/100
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 36/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 37/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 38/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 39/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 40/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 41/100
858/858 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5320 - val_loss: 0.6912 - val_accuracy: 0.5341
Epoch 42/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 43/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6911 - val_accuracy: 0.5341
Epoch 44/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 46/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 47/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 48/100
858/858 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 49/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6912 - val_accuracy: 0.5341
Epoch 50/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 51/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 52/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 53/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 54/100
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6914 - val_accuracy: 0.5341
Epoch 55/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6912 - val_accuracy: 0.5341
Epoch 56/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 57/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6916 - val_accuracy: 0.5341
Epoch 58/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6912 - val_accuracy: 0.5341
Epoch 59/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 60/100
858/858 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6914 - val_accuracy: 0.5341
Epoch 61/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6910 - val_accuracy: 0.5341
Epoch 62/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 63/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6914 - val_accuracy: 0.5341
Epoch 64/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6910 - val_accuracy: 0.5341
Epoch 65/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6913 - val_accuracy: 0.5341
Epoch 66/100
858/858 [==============================] - 3s 4ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 67/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 68/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6911 - val_accuracy: 0.5341
Epoch 69/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6914 - val_accuracy: 0.5341
Epoch 71/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 72/100
858/858 [==============================] - 3s 4ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 73/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 74/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 75/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 76/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 77/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6910 - val_accuracy: 0.5341
Epoch 78/100
858/858 [==============================] - 3s 4ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 79/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 80/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6910 - val_accuracy: 0.5341
Epoch 81/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 82/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6911 - val_accuracy: 0.5341
Epoch 83/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 84/100
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6911 - val_accuracy: 0.5341
Epoch 85/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6910 - val_accuracy: 0.5341
Epoch 86/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 87/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 88/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6910 - val_accuracy: 0.5341
Epoch 89/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6911 - val_accuracy: 0.5341
Epoch 90/100
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 91/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 92/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 93/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 94/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 95/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6910 - val_accuracy: 0.5341
Epoch 96/100
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 97/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6910 - val_accuracy: 0.5341
Epoch 98/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320 - val_loss: 0.6908 - val_accuracy: 0.5341
Epoch 99/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6909 - val_accuracy: 0.5341
Epoch 100/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320 - val_loss: 0.6915 - val_accuracy: 0.5341

In [85]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.6915 - accuracy: 0.5341 - 278ms/epoch - 1ms/step
Loss: 0.6915113925933838, Accuracy: 0.5341107845306396

In [87]:
# Export the model to an HDF5 file
model_filename = "AlphabetSoupCharity.h5"
nn.save(model_filename)